$yellow: #fbc242;
$red: #aa0019;
$header-icon-big: 32px;
$header-text-huge: 2em;
$header-text-big: 1.5em;
$header-text-mid: 1.2em;
$header-text-small: 1em;

@font-face {
    font-family: "Raygun";
    src: url("../fonts/raygun.eot?#iefix") format("embedded-opentype")
         url("../fonts/raygun.woff") format("woff"),
         url("../fonts/raygun.ttf") format("truetype"),
         url("../fonts/raygun.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Raygun, Arial, Helvetica, sans-serif;
    background-color: white;
}

@mixin center-content {
    height: 100%;
    text-align: center;
    white-space: nowrap;

    & > div {
        vertical-align: middle;
        display: inline-block;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; // Adjusts for spacing
    }
}

.header {
    $border: 12px;
    background-image: url("../img/header-bg.png");
    background-size: contain;
    overflow: hidden;
    box-shadow: 0 (-$border) 0 $yellow inset;
    border-bottom: $border solid $red;

    // Foundation grid overload
    text-align: center;
    white-space: nowrap;
    & > * {
        float: none !important;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }

    @media only screen and (max-width: 40em) { // Mobile
        white-space: normal;
        box-shadow: none;
        border-bottom: none;
        padding-bottom: $border;
    }
}

.header-delivery {
    padding: 2px;
    border: 3px solid $yellow;
    border-radius: $header-text-huge;
    font-size: $header-text-huge;
    color: white;
    text-align: center;
    background: $red;
}

.header-contact {
    white-space: normal;
}

.header-tel {
    display: block;
    padding: 10px 0;

    color: white;
    text-align: center;
    font-size: $header-text-huge;
    cursor: pointer;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &::before {
        content: '';
        margin-right: 4px;
        display: inline-block;
        height: $header-icon-big;
        width: $header-icon-big;
        vertical-align: top;
        background-image: url("../img/icon-tel.png");
        background-size: contain;
    }
}

.header-wa {
    $size: 13px;
    color: $red;
    padding: 4px;
    font-size: 1em;
    text-align: center;
    border-radius: $size;
    background-color: $yellow;
}


.content {
    position: relative;
    background-color: white;
    background-image: url("../img/bg-yellow.png");
    background-size: (5/12*100%);
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.content-menu {
    padding-left: 0;
    padding-right: 0;
}

.content-side {
    padding: 0;
    text-align: center;
}

.pizza-size {
    display: inline-block;
    margin: 15px 0;
}
.pizza-fb {
    padding: 15px;
    padding-bottom: 160px; // Footer height;
    background-image: url("../img/bg-red.png");

    @media only screen and (max-width: 40em) { // Mobile
        padding-bottom: 50px;
    }
}

.pizza-menu {
    background-color: transparent;
    background-image: url("../img/bg-red.png");

    table-layout: fixed;
    border-collapse:collapse;

    width: 95%;
    border: 15px solid white;

    @media only screen and (max-width: 40em) { // Mobile
        width: 100%;
        border-left: none;
        border-right: none;
    }

    tr {
        background-color: transparent !important;
    }
    td {
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-overflow: ellipsis;
        font-size: $header-text-small;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        padding: 10px 0;
        overflow: hidden;
        width: 25%;

        &:first-child {
            text-align: left;
            border-left: none;
            width: auto;
            padding-left: 10px;
        }
        &:last-child {
            border-right: none;
        }
    }

    .menu-header {
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        td {
            color: $yellow;
            font-size: $header-text-big;
        }
        &:first-child {
            border-top: none;
            td {
                font-size: $header-text-mid;
            }
        }
    }
}

.fb-like-box {
    width: 100%;
    height: 182px;
    border:none;
    overflow:hidden;
    background-color: white;
}