@font-face {
  font-family: "Raygun";
  src: url("../fonts/raygun.eot?#iefix") format("embedded-opentype") url("../fonts/raygun.woff") format("woff"), url("../fonts/raygun.ttf") format("truetype"), url("../fonts/raygun.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Raygun, Arial, Helvetica, sans-serif;
  background-color: white; }

.header {
  background-image: url("../img/header-bg.png");
  background-size: contain;
  overflow: hidden;
  box-shadow: 0 -12px 0 #fbc242 inset;
  border-bottom: 12px solid #aa0019;
  text-align: center;
  white-space: nowrap; }
  .header > * {
    float: none !important;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .header {
      white-space: normal;
      box-shadow: none;
      border-bottom: none;
      padding-bottom: 12px; } }

.header-delivery {
  padding: 2px;
  border: 3px solid #fbc242;
  border-radius: 2em;
  font-size: 2em;
  color: white;
  text-align: center;
  background: #aa0019; }

.header-contact {
  white-space: normal; }
  .header-contact > * {
    display: inline-block; }

.header-tel {
  padding: 10px 0;
  color: white;
  text-align: center;
  font-size: 2em;
  cursor: pointer; }
  .header-tel:hover {
    color: white;
    text-decoration: none; }
  .header-tel::before {
    content: '';
    margin-right: 4px;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: top;
    background-image: url("../img/icon-tel.png");
    background-size: contain; }

.header-wa {
  color: #aa0019;
  padding: 4px 20px;
  font-size: 1em;
  text-align: center;
  border-radius: 13px;
  background-color: #fbc242; }

.content {
  position: relative;
  background-color: white;
  background-image: url("../img/bg-yellow.png");
  background-size: 41.66667%; }

.content-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0; }

.content-menu {
  padding-left: 0;
  padding-right: 0; }

.content-side {
  padding: 0;
  text-align: center; }

.pizza-size {
  display: inline-block;
  margin: 15px 0; }

.pizza-fb {
  padding: 15px;
  padding-bottom: 160px;
  background-image: url("../img/bg-red.png"); }
  @media only screen and (max-width: 40em) {
    .pizza-fb {
      padding-bottom: 70px; } }

.pizza-menu {
  background-color: transparent;
  background-image: url("../img/bg-red.png");
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;
  border: 15px solid white; }
  @media only screen and (max-width: 40em) {
    .pizza-menu {
      width: 100%;
      border-left: none;
      border-right: none; } }
  .pizza-menu tr {
    background-color: transparent !important; }
  .pizza-menu td {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 1em;
    border-left: 1px solid #fbc242;
    border-right: 1px solid #fbc242;
    padding: 10px 0;
    overflow: hidden;
    width: 25%; }
    .pizza-menu td:first-child {
      text-align: left;
      border-left: none;
      width: auto;
      padding-left: 10px; }
    .pizza-menu td:last-child {
      border-right: none; }
  .pizza-menu .menu-header {
    border-top: 1px solid #fbc242;
    border-bottom: 1px solid #fbc242; }
    .pizza-menu .menu-header td {
      color: #fbc242;
      font-size: 1.5em; }
    .pizza-menu .menu-header:first-child {
      border-top: none; }
      .pizza-menu .menu-header:first-child td {
        font-size: 1.2em; }

.fb-like-box {
  width: 100%;
  height: 182px;
  border: none;
  overflow: hidden;
  background-color: white; }

/*# sourceMappingURL=pizza.css.map */
