// Configs ---------------------------------------------------------------------
$yellow: #fbc242;
$red: #aa0019;
$header-icon-big: 32px;
$header-text-huge: 2em;
$header-text-big: 1.5em;
$header-text-mid: 1.2em;
$header-text-small: 1em;
$footer-height: 110px;

// Helpers ---------------------------------------------------------------------
@mixin center-content {
    height: 100%;
    text-align: center;
    white-space: nowrap;

    & > div {
        vertical-align: middle;
        display: inline-block;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; // Adjusts for spacing
    }
}

// Globals ---------------------------------------------------------------------
@font-face {
    font-family: "Raygun";
    src: url("../fonts/raygun.eot?#iefix") format("embedded-opentype")
         url("../fonts/raygun.woff") format("woff"),
         url("../fonts/raygun.ttf") format("truetype"),
         url("../fonts/raygun.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Raygun, Arial, Helvetica, sans-serif;
    background-color: white;
}

// Header ----------------------------------------------------------------------

.header {
    $border: 12px;
    background-image: url("../img/header-bg.png");
    background-size: contain;
    background-position: bottom;
    overflow: hidden;
    box-shadow: 0 (-$border) 0 $yellow inset;
    border-bottom: $border solid $red;

    // Foundation grid overload
    text-align: center;
    white-space: nowrap;
    & > * {
        float: none !important;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }

    @media only screen and (max-width: 40em) { // Small-
        white-space: normal;
        box-shadow: none;
        border-bottom: none;
        padding-bottom: $border;
    }
}

.header-delivery {
    padding: 2px;
    border: 3px solid $yellow;
    border-radius: $header-text-huge;
    font-size: $header-text-huge;
    color: white;
    text-align: center;
    background: $red;
}

.header-contact {
    white-space: normal;
    & > * {
        display: inline-block;
    }
}

.header-tel {
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: $header-text-huge;
    cursor: pointer;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &::before {
        content: '';
        margin-right: 4px;
        display: inline-block;
        height: $header-icon-big;
        width: $header-icon-big;
        vertical-align: top;
        background-image: url("../img/icon-tel.png");
        background-size: contain;
    }
}

.header-wa {
    color: $red;
    padding: 4px 20px;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    background-color: $yellow;
}

// Content ---------------------------------------------------------------------
.content {
    position: relative;
    background-color: white;
    background-image: url("../img/bg-yellow.png");
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.content-menu {
    padding-left: 0;
    padding-right: 0;
}

.content-side {
    padding: 0;
    text-align: center;
}

// Side bar --------------------------------------------------------------------
.pizza-size {
    display: inline-block;
    padding: 20px;
}

.pizza-contact {
    margin-bottom: 20px;
    line-height: 2em;
    color: $red;
    text-transform: uppercase;

    a {
        color: $red;
        
        span {
            font-size: 1.8em;
            vertical-align: middle;
        }
    }

    & > span {
        background: $red;
        color: white;
        padding: 4px 20px;
        border-radius: 20px;
    }
}

.pizza-fb {
    padding: 15px;
    padding-bottom: 50px; // Small
    background-image: url("../img/bg-red.png");

    @media only screen and (min-width: 40.063em) { // Medium+
        padding-bottom: $footer-height + 120px; // menu height compensantion
    }

    @media only screen and (min-width: 64em) { // Large+
        padding-bottom: $footer-height + 70px; // menu height compensantion
    }

    iframe {
        width: 100%;
        height: 182px;
        border:none;
        overflow:hidden;
        background-color: white;
    }
}

// Menu ------------------------------------------------------------------------
.pizza-menu-wrapper {
    $border-width: 15px;
    border-color: white;
    border-style: solid;
    border-width: 0;
    border-top-width: $border-width;
    border-bottom-width: $border-width;

    padding: 20px;
    padding-bottom: $footer-height;

    background-image: url("../img/bg-red.png");

    @media only screen and (max-width: 40em) { // Small-
        padding: 0;
        border-left: none;
        border-right: none;
        border-bottom-width: 15px;
    }

    @media only screen and (min-width: 40.063em) { // Medium+
        border-left-width: $border-width;
        border-right-width: $border-width;
        border-bottom-width: 0;
    }

    @media only screen and (min-width: 64em) { // Large+
        margin-right: 20px;
    }
}
.pizza-menu {
    background-color: transparent;

    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    border: none;

    tr {
        background-color: transparent !important;

        &:last-child td {
            border-bottom: 1px solid $yellow;
        }
    }

    td, th {
        width: 20%;
        padding: 10px 0;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        overflow: hidden;

        color: white;
        text-align: center;
        text-transform: uppercase;
        text-overflow: ellipsis;
        font-size: $header-text-small;
        
        @media only screen and (max-width: 40em) { // Small-
            width: 16%;
        }

        &:first-child {
            width: auto;
            padding: 10px;
            text-align: left;
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.menu-section {
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;

    th {
        color: $yellow;
        font-size: $header-text-mid;

        &:first-child {
            font-size: $header-text-big;
        }
    }

    &:first-child {
        border-top: none;
    }
}

.menu-price {
    &::before {
        content: "R$ ";
        @media only screen and (max-width: 40em) { // Small-
            .menu-pizza &,
            .menu-extra & {
                content: "";
            }
        }
    }
}

.menu-pizza-small {
    &::before {
        content: "P";
        @media only screen and (min-width: 64em) { // Large+
            content: "Pequena";
        }
    }
}

.menu-pizza-medium {
    &::before {
        content: "M";
        @media only screen and (min-width: 64em) { // Large+
            content: "Media";
        }
    }
}

.menu-pizza-big {
    &::before {
        content: "G";
        @media only screen and (min-width: 64em) { // Large+
            content: "Grande";
        }
    }
}
