@charset "UTF-8";
@import "compass";

// Configs ---------------------------------------------------------------------
$yellow: #fbc242;
$red: #aa0019;
$header-icon-big: 32px;
$header-text-huge: 2em;
$header-text-big: 1.5em;
$header-text-mid: 1.2em;
$header-text-small: 1em;
$footer-height: 110px;

// Helpers ---------------------------------------------------------------------
@mixin center-content {
    height: 100%;
    text-align: center;
    white-space: nowrap;

    & > div {
        vertical-align: middle;
        display: inline-block;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; // Adjusts for spacing
    }
}

.center-content {
    @include center-content;
}

.char-tilde {
    position: relative;
    &::after {
        content: "~";
        position: absolute;
        left: 0.1em;
        top: -0.6em;
    }
}
.char-acute {
    position: relative;
    &::after {
        content: "´";
        position: absolute;
        left: 0.1em;
        top: -0.3em;
    }
}

.char-cedilla {
    position: relative;
    &::after {
        content: "¸";
        position: absolute;
        left: 0.1em;
        bottom: 0;
    }
}

// Globals ---------------------------------------------------------------------

@include font-face("Raygun", font-files("raygun.woff", "raygun.ttf", "raygun.svg"), "raygun.eot");

body {
    background-color: white;
}

body, h1, h3 {
    font-family: Raygun, Arial, Helvetica, sans-serif;
}

.container {
    background-color: #a10018;
    background-image: url("../img/bg-red.png");
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: top center;
}

// Header ----------------------------------------------------------------------

.header {
    $border: 12px;
    background-image: url("../img/header-bg.png");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 !important; // Foundation overload

    box-shadow: 0 (-$border) 0 $yellow inset;

    @media only screen and (max-width: 40em) { // Small
        white-space: normal;
        border-bottom: none;
    }
}

.header-contact {
    margin-top: 70%; // Fake center
    text-align: center;
}

.contact-title {
    font-size: $header-text-big;
    width: 125px;
    margin: 0 auto 5px;
    border-radius: 20px;
    background-color: $yellow;
    color: $red;
    padding: 2px 0;
}

.contact-subtitle {
    color: white;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.contact-number {
    color: white;
    font-size: $header-text-big;

    @media only screen and (min-width: 64em) { // Large
        font-size: $header-text-huge;
    }
}

.contact-addr {
    margin: 0 auto 0;
    line-height: 1.8em;
    color: $red;
    text-transform: uppercase;

    .contact-delivery-area {
        color: white;
        background-color: rgba(0,0,0,0.2);
    }
}

.header-contact,
.pizza-contact {
    a {
        cursor: pointer;

        &:hover,
        &:visited {
            color: white;
            text-decoration: none;
        }
    }
}

// Content ---------------------------------------------------------------------
.content {
    position: relative;
    border-top: 12px solid white;
    margin: 0 !important;
}

.content-menu {
    padding: 0 0 $footer-height*3/5; // Medium

    @media only screen and (max-width: 40em) { // Small
        padding: 0;
    }

    @media only screen and (min-width: 64em) { // Large
        padding-bottom: $footer-height;
    }
}

.content-side {
    padding: 0;
    text-align: center;
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

// Side bar --------------------------------------------------------------------

.side-delivery {
    height: 400px; // From image
    width: 200px; // From image
    margin: 50px 0;
    background-image: url("../img/banner-delivery.png");
    background-position: top left;
}

.side-yellow {
    background-image: url("../img/bg-yellow.png");
    // background-attachment: fixed;
    padding-bottom: 2*$footer-height; // Medium

    @media only screen and (max-width: 40em) { // Small
        padding-bottom: $footer-height/2;
    }

    @media only screen and (min-width: 64em) { // Large
        padding-bottom: $footer-height;
    }
}

.pizza-contact {
    padding: 15px 15px 0;

    .contact-title {
        background-color: $red;
        color: white;
    }

    .contact-container {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
    }

    .contact-number,
    a, a:hover, a:visited {
        color: $red;
    }
}

.pizza-fb {
    padding: 15px;

    iframe {
        width: 100%;
        height: 182px;
        border:none;
        overflow:hidden;
        background-color: white;
    }
}

// Menu ------------------------------------------------------------------------
.pizza-menu-wrapper {
    padding: 5px;
    background-color: rgba(0,0,0,0.2);
}

.pizza-menu {
    background-color: transparent;

    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    margin: 0;
    border: 2px solid $yellow;

    tr {
        background-color: transparent !important;
        border-bottom: 1px dotted transparentize($yellow, 0.75);

        &:last-child td {
            border-bottom: 2px solid $yellow;
        }

        // &:hover td {
        //     background: fade-out($yellow, 0.75);
        // }
    }

    td, th {
        width: 20%;
        padding: 5px 0;
        border-left: 2px solid $yellow;
        border-right: 2px solid $yellow;
        overflow: hidden;

        color: white;
        text-align: center;
        text-transform: uppercase;
        text-overflow: ellipsis;
        font-size: $header-text-small;
        
        @media only screen and (max-width: 40em) { // Small
            width: 16%;
        }

        &:first-child {
            width: auto;
            padding-left: 10px;
            padding-right: 5px;
            text-align: left;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.menu-section {
    border-top: 2px solid $yellow;
    border-bottom: none !important;

    th {
        $height: 52px;

        position: relative;
        height: $height;
        font-size: $header-text-mid;

        &:first-child {
            font-size: $header-text-big;
        }

        & > div,
        &::before {
            $margin: 5px;
            $padding: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: $margin;
            padding: $padding;
            line-height: $height - 2*$margin - 2*$padding;

            color: $red;
            background-color: $yellow;
        }
    }
}

.menu-price {
    &::before {
        content: "R$ ";
        @media only screen and (max-width: 40em) { // Small
            .menu-pizza &,
            .menu-extra & {
                content: "";
            }
        }
    }
}

.menu-pizza-small {
    &::before {
        content: "M";
        @media only screen and (min-width: 64em) { // Large
            content: "Media";
        }
    }
}

.menu-pizza-medium {
    &::before {
        content: "G";
        @media only screen and (min-width: 64em) { // Large
            content: "Grande";
        }
    }
}

.menu-pizza-big {
    &::before {
        content: "GG";
        @media only screen and (min-width: 64em) { // Large
            content: "Gigante";
        }
    }
}
