<div class="medium-3 column show-for-medium-up">
  <div class="header-side header-contact">
    {% include 'phone.njk' %}
  </div>
</div>

<img
  class="medium-6 column header-logo"
  src="assets/images/header-logo.png"
  alt="Pede na Tia"
/>

<div class="medium-3 column show-for-medium-up">
  <div class="header-side header-contact">
    {% include 'whatsapp.njk' %}
  </div>
</div>
